<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="base.line.android.baseline">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/base_icon"
        android:label="Baseline"
        android:roundIcon="@drawable/base_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="base.line.android.baseline.Splash"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="base.line.android.baseline.Web_Design"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="base.line.android.baseline.WebDevlapment"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="base.line.android.baseline.Seo"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="base.line.android.baseline.Contact"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="base.line.android.baseline.activity.MainActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="base.line.android.baseline.Notification.Send_Notifaction"
            android:label="" />

        <service android:name="base.line.android.baseline.service.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name="base.line.android.baseline.service.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name="base.line.android.baseline.About_Us"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="base.line.android.baseline.services"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="base.line.android.baseline.Blog"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name="base.line.android.baseline.Career"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar"></activity>

    </application>
</manifest>